NetWorkCommunication/MSMQ.Client/Connected Services/AirportService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="WcfMsmqExamples" elementFormDefault="qualified" targetNamespace="WcfMsmqExamples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SubmitInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitAirportMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="tns:AirportMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AirportMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirportId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForecastTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShortMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirportMessage" nillable="true" type="tns:AirportMessage" />
</xs:schema>